<header>
    <nav class="navbar navbar-expand-lg navbar-expand-xl navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Liberty-Gaming (some icon)</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Games
              </a>
              <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item  bg-primary" >Game 1</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ranking
                  </a>
                  <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item  bg-primary" href="#">Game 1</a>
                  </div>
            </li>
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                  </a>
                  <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item  bg-primary" >Lost password</a>
                        <a class="dropdown-item  bg-primary" >Bug report</a>
                        <a class="dropdown-item  bg-primary" >Help us</a>
                  </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="post" action="#">
            <input class="form-control mr-sm-1" name="email" type="E-mail" placeholder="E-mail" aria-label="E-mail">
            <input class="form-control mr-sm-1" name="password" type="Password" placeholder="Password" aria-label="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log in </button>
          </form>
          <a class="btn btn-warning my-2 my-sm-0" href="#" type="submit">Sign up </a>
        </div>
      </nav>
</header>
